* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.bg-weather {
  background-image: url(https://source.unsplash.com/random/1320x769/?city);
  padding-bottom: 20px;
  padding-top: 20px;
  /* max-width: 100%; */
}

.list-group {
  max-width: 30%;
}

/* .inputField {
  justify-content: center;
  text-align: center;
} */
